<div class="input-container">
  <input type="text" [(ngModel)]="src" placeholder="start city" />
  <input type="text" [(ngModel)]="dest" placeholder="End city"/>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdHxSS7X2MDOp0P-t7UbCx6kRYxU4dXZCsYEvKYMshngDGzHvQx3h5-4DpCik_5o5yw5U&usqp=CAU"
    (click)="addTrip()"
    [attr.disabled]="src == '' || dest == ''"
  />
<button (click)="sendString()"     onclick="this.style.display='none'">Submit</button>
</div>
<div *ngFor="let t of trips">
  {{ t }}
</div>


